@model IFFCO.VTMS.Web.ViewModels.ENM05ViewModel

@{
    //ViewData["Title"] = "Index";
}
<script src="~/js/Common.js"></script>

<script>

function Validate() 
{
        debugger;
        if ($('#PlantCD').val() == "") 
        {
            CommonAlert("Alert", "select Plant CD  ", null, null, "Warning");
            return false;
        } 
        else if ($('#FFromDate').val() == "=") 
        {
            CommonAlert("Alert", "Select From Date ", null, null, "Warning");
            return false;
        } 
        else if ($('#FToDate').val() == "") 
        {
            CommonAlert("Alert", "Select To Date ", null, null, "Warning");
            return false;
        }
        else 
        {
            $('#FFromDate').val(Dateformate($('#FFromDate').val())).removeClass("datetime");
            $('#FToDate').val(Dateformate($('#FToDate').val())).removeClass("datetime");
            return true;
        }
 }

 </script>

<div class="plcholder-cn">
   <div class="table-responsive">
        <div class="table-area">
            <div class="table-title">
                <div class="btn-area-tbl">
                 </div>
            </div>
            <div class="table-wrapper">
               <div class="table-con">
                    <div class="tableUp">
                        <div class="pd-form-area">
                            <div class="btn-area-tbl">
                                    <a class="m-btn-1 addnew @Model.Insert addnewitem" asp-area="M1" asp-route-id ="@Model.RecommId" asp-controller="ENM05" asp-action="Create" method="Get"><i class="material-icons"></i><span>Add New</span></a>
                            </div>

                            <table class="table table-striped table-hover" id="HrmsHrdGrid">
                                <thead>
                                    <tr>
                                        <th>
                                            RECOMMENDATION ID
                                        </th>
                                        <th>
                                            RECOMMENDATION NAME
                                        </th>
                                      @*<th>
                                            UNIT CODE
                                        </th>*@
                                        <th>
                                            STATUS
                                        </th>
                                        <th>
                                            ACTIONS
                                        </th>
                                    </tr>
                                    @if (Model.Status == "Create")
                                    {
                                        <tr id="traddpanel">
                                            <td colspan="6">
                                                <div>
                                                    <form id="CreateForm" asp-area="M1" asp-controller="ENM05" asp-action="Create" method="post">
                                                          <table style="width:100%">
                                                            <tr class="update-row odd">
                                                                 <td>
                                                                    <input type="text" asp-for="@Model.vtmsRecommendation.RecommId" id="RecommId" placeholder="RecommId" class="form-control" readonly  />
                                                                 </td>
                                                                 <td>
                                                                    <input type="text" asp-for="@Model.vtmsRecommendation.RecommName" id="RecommName"  placeholder="RecommName" class="form-control" />
                                                                 </td>
                                                                @*<td>
                                                                    <input type="text" asp-for="@Model.vtmsRecommendation.UnitCode" id="UnitCode" placeholder="UnitCode" class="form-control" />
                                                                </td> *@
                                                                 <td>
                                                                    @*<input type="text" asp-for="@Model.vtmsRecommendation.Status" id="Status" placeholder="Status" class="form-control" />*@
                                                                    <select id="CStatus" asp-for="@Model.vtmsRecommendation.Status" required class="form-control" >
                                                                        <option value="A">Active</option>
                                                                        <option value="I">In-Active</option>
                                                                    </select>
                                                                 </td>
                                                                 <td>
                                                                    <input type="submit" id="createid" value="Save" class="m-btn-1 save" style="float:left;margin-right: 4px" />
                                                                    <button class="m-btn-1 close1" type="button" onclick="GetIndex('M1/ENM05/Index')">Close</button>
                                                                 </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Status == "Edit")
                                    {
                                        <tr id="traddpanelEdit">
                                            <td colspan="6">
                                                <div>
                                                    <form asp-area="M1" asp-controller="ENM05" asp-action="Edit" asp-route-id="@Model.vtmsRecommendation.RecommId" method="post">
                                                        <table style="width:100%">
                                                          <tr class="update-row odd">
                                                                <td>
                                                                    <input type="text" id="RecommId" placeholder="RecommId" asp-for="@Model.vtmsRecommendation.RecommId" class="form-control" readonly />
                                                               </td>
                                                                <td>
                                                                    <input type="text" asp-for="@Model.vtmsRecommendation.RecommName" id="RecommName" placeholder="RecommName" class="form-control" />
                                                                </td>
                                                              @*<td>
                                                                    <input type="text" asp-for="@Model.vtmsRecommendation.UnitCode" id="UnitCode" placeholder="UnitCode" class="form-control" />
                                                                </td>*@
                                                                <td>
                                                                    @*<input type="text" asp-for="@Model.vtmsRecommendation.Status" id="Status" placeholder="Status" class="form-control" />*@
                                                                    <select id="CStatus" asp-for="@Model.vtmsRecommendation.Status" required class="form-control" >
                                                                        <option value="A">Active</option>
                                                                        <option value="I">In-Active</option>
                                                                    </select>
                                                                </td>
                                                                
                                                                <td>
                                                                    <input type="submit" id="createid" value="Update" class="m-btn-1 save" style="float:left;margin-right: 4px" />
                                                                    <button class="m-btn-1 close1" type="button" onclick="GetIndex('M1/ENM05/Index')">Close</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.vtmsRecommendationlist)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecommId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecommName)
                                            </td>
                                           @*<td>
                                                @Html.DisplayFor(modelItem => item.UnitCode)
                                            </td>*@                                           
                                            @if (item.Status == "A")
                                            {  <td> Active</td>  }
                                            else
                                            {  <td> In-Active</td> }                                            
                                            <td style=" width: 5%;">
                                                <a asp-area="M1" asp-controller="ENM05" asp-action="Edit" asp-route-id="@item.RecommId" class="edit @Model.Edit glpicon addnewitem" data-toggle="modal"><i class="far fa-edit" data-toggle="tooltip" title="" data-original-title="Edit" onclick="SHOW_TR_Function('traddpanelEdit','traddpanel')"></i></a>
                                                <a style="cursor:pointer" class="delete @Model.Delete glpicon" data-toggle="modal" onclick="divShow('/M1/ENM05/DeleteConfirmed?id=@item.RecommId');"><i class="far fa-trash-alt" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#HrmsHrdGrid').DataTable();
        });
</script>

