@model IFFCO.VTMS.Web.ViewModels.TRSCR01ViewModel

@{
    //ViewData["Title"] = "Index";
}
<script src="~/js/Common.js"></script>
<script>

function Validate() 
{
        debugger;
        if (true) 
        {            
            return true;
        } 
        else 
        {
            $('#FFromDate').val(Dateformate($('#FFromDate').val())).removeClass("datetime");
            $('#FToDate').val(Dateformate($('#FToDate').val())).removeClass("datetime");
            return true;
        }
 }

 </script>

<div class="plcholder-cn">
   <div class="table-responsive">
       <div class="table-area">
           <div class="table-title">
               <div class="btn-area-tbl">
               </div>
            </div>
            <div class="table-wrapper">
               <div class="table-con">
                    <div class="tableUp">
                        @*<div class="pd-form-area">*@
                        <div class="content-box">
                            <h3 class="sub-heading1 sub-heading2"><span>Control Parameters</span></h3>
                            <div class="m-form">
                                <form asp-area="M2" asp-controller="TRSCR01" asp-action="Query" method="post" onsubmit="return Validate();">
                                    <div class="m-form">
                                        <div class="m-form-bx">
                                            <div class="row form-sm">
                                                     <div class="col-sm-2 col-md-2">
                                                        <div>
                                                            <label class="m-lbl1 m-lbl2"> From Date</label>
                                                        </div>
                                                     </div>
                                                     <div class="col-sm-2 col-md-2">
                                                        <div>
                                                         <input type="date" class="form-control" id="FFromDate" asp-for="@Model.FromDate" />
                                                        </div>
                                                     </div>
                                                     <div class="col-sm-2 col-md-2">
                                                        <div>
                                                            <label class="m-lbl1 m-lbl2">End Date</label>
                                                        </div>
                                                     </div>
                                                     <div class="col-sm-2 col-md-2">
                                                        <div>
                                                         <input type="date" class="form-control" id="FToDate" asp-for="@Model.ToDate" />
                                                        </div>
                                                     </div>
                                                     <div class="col-sm-2 col-md-2">
                                                        <div>
                                                            <label class="m-lbl1 m-lbl2"> Status</label>
                                                        </div>
                                                     </div>
                                                     <div class="col-sm-2 col-md-2">
                                                        <div>
                                                            <select id="Status"  asp-for="@Model.Status" class="form-control" asp-items="@(new SelectList(ViewBag.StatusLOV,"Value","Text")) "></select>
                                                        </div>
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                                   
                                        <div class="btn-area1">
                                            <input type="submit" id="save"  class="m-btn-1 save" value="Query" />
                                            <input type="reset" id="reset" class="m-btn-1 btn-warning" value="Reset" />
                                        </div>
                                       </form>
                                    </div>
                               </div>
                          </div>
                     </div>
                </div>

              <div class="table-con">
                  <div class="tableUp">
                       <div class="pd-form-area">
                            <div class="btn-area-tbl">
                                @*<a class="m-btn-1 addnew @Model.Insert addnewitem" asp-area="M2" asp-route-id ="@Model.VtCode" asp-controller="TRSC02" asp-action="Create" method="Get"><i class="material-icons"></i><span>Add New</span></a>*@
                            </div>
                            <table class="table table-striped table-hover" id="HrmsHrdGrid">
                                <thead>
                                    <tr>
                                         <th>
                                            VT CODE
                                        </th>
                                        <th>
                                            NAME
                                        </th>
                                        <th>
                                            BRANCH
                                        </th>
                                        <th>
                                            TRAINING DURATION
                                        </th>
                                        <th>
                                            REPORT TYPE
                                        </th>
                                        <th>
                                            GENERATE REPORT
                                        </th>
                                    </tr>
                                 </thead>

                                 <tbody>
                                    @foreach (var item in Model.vCompleteVTInfos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vtcode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.COURSE_DESC) - @Html.DisplayFor(modelItem => item.BRANCH_DESC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VtStartDate) - @Html.DisplayFor(modelItem => item.VtEndDate)
                                            </td>
                                            <td style=" width: 22%;">
                                            <select id="FReportType" class="form-control" required>
                                                <option selected value="ApplicationForm">Applicant Form</option>
                                                <option value="ReviewSheet">Review Sheet</option>
                                                <option value="Certificate">Certificate</option>
                                            </select>
                                            </td>
                                            <td style=" width: 10%;">                                   
                                                <input type="button" class="btn btn-primary btnSelect" value="Generate Report">
                                            </td>
                                        </tr>
                                      }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>


<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>

<script type="text/javascript">

        $(document).ready(function () {
            $('#HrmsHrdGrid').DataTable();
        });

</script>


<script type="text/javascript">

    $("#HrmsGrid").on('click', '.btnSelect', function () {
        var currentRow = $(this).closest("tr");

        var vtcode = currentRow.find("td:eq(0)").text(); 
        var selectObject = currentRow.find("select"); 
        var reporttype = selectObject.val();   

        $.ajax({
            type: 'POST',
            url: "/M2/TRSCR01/GetReport",
            data: { 'id': vtcode.trim(), 'report': reporttype },
            dataType: "json",
            success: function (data) {
                var x = window.open('_blank');
                x.document.write('<body></body>');                
                var iframe = x.document.createElement('iframe');
                iframe.id = 'reportFrame';
                iframe.src = data;
                iframe.style = "width:100%; height:100%;"
                x.document.body.appendChild(iframe);              

            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
            }
        });
    });

</script>

